body {
  margin: 0px;
  display: flex;
  background: var(--light);
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 32px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
}

#root {
  margin-top: 32px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 32px;
}

* {
  box-sizing: border-box;
}

:root {
  --light: #F4F9F9;
  --cold: #CCF2F4;
  --light-blue: #A4EBF3;
  --grey: #AAAAAA;
}

main, form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  font-size: 1.1em;
}

.option {
  font-size: 1em;
  padding: 9px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: #e1e1e1;
}

.clear {
  color: red;
  background: none;
}

button {
  transition: all 100ms ease-in-out;
}

.option:hover, .submit:hover {
  background: var(--cold);
}

.option {
  font-weight: 700;
}

.top {
  background: white;
  width: 450px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
}

form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #f3f4f6;
  padding: 32px;
}

.form-title {
  font-size: 1.4em;
}

label {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

input {
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  outline-color: var(--grey);
}

input:invalid {
  outline-color: red;
}

.submit {
  margin-top: 16px;
  border: none;
  background: #e1e1e1;
  padding: 8px;
  font-size: 1em;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.CV {
  height: 90vh;
  background: #f3f4f6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 32px;
}

header {
  background: #0e374e;
  color: white;
  width: inherit;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 1.6em;
  font-weight: 700;
}

.personal-other {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 24px;
  font-size: 1.4em;
}

.education, .experience {
  width: inherit;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.education-top, .experience-top {
  font-size: 1.5em;
  background: rgba(100, 100, 111, 0.2); 
  padding: 4px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 3%;
}

.education-bottom, .experience-bottom {
  font-size: 1.2em;
  width: inherit;
  display: flex;
  gap: 32px;
  padding: 16px;
}

.left, .right {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-left: 32px;
}

.description {
  width: 50%;
  overflow-wrap: break-word;
  background-color: red;
}

.date {
  display: flex;
}

.startEnd {
  display: flex;
  gap: 20px;
}

::placeholder {
  font-style: italic;
}

textarea {
  resize: none;
  border: none;
  padding: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  outline-color: var(--grey);
}

.experience-form {
  margin-bottom: 64px;
}